
<div>
    <label for="search-term">Search:</label>
    <input type="text" id="search-term" name="searchterm" value="@ViewBag.searchterm" />

   @*  <label for="marital-status">Marital Status:</label>
    <select id="marital-status">
        <option value="">All</option>
        <option value="Single">Single</option>
        <option value="Married">Married</option>
    </select>

    <label for="birth-date">Birth Date:</label>
    <input type="date" id="birth-date" /> *@

    <button id="search-button" class="btn btn-primary">Search</button>
</div>